body {
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
	color: #b94a48;
}

.field-validation-valid {
	display: none;
}

input.input-validation-error {
	border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
	border: 0 none;
}

.validation-summary-errors {
	color: #b94a48;
}

.validation-summary-valid {
	display: none;
}

body > .header .navbar {
	height: 50px;
	margin-bottom: 0;
	margin-left: 220px;
	min-height: 50px;
}

body > .header .logo {
	float: left;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
	padding: 0 10px;
	width: 220px;
	font-family: 'Kaushan Script', cursive;
	font-weight: 500;
	height: 50px;
	display: block;
	background-color: #2196f3;
	color: #b2dbfb;
	font-size: 20px;
}

body > .header .navbar .sidebar-toggle {
	float: left;
	padding: 9px 5px;
	margin-top: 8px;
	margin-right: 0;
	margin-bottom: 8px;
	margin-left: 5px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
}


header {
	margin-bottom: 20px;
	border: none;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.container-wrapper {
	max-width: 768px;
	margin: auto;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
	height: 175px;
	width: 280px;
	padding: 10px;
	background: #3c8dbc;
	text-align: center;
}

.navbar .navbar-right > .nav {
margin-right: 10px;
	margin-top: -10px;

}

.navbar .navbar-right > .nav li {
	max-height: 50px
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu, .navbar-nav > .messages-menu > .dropdown-menu > li .menu, .navbar-nav > .tasks-menu > .dropdown-menu > li .menu {
margin: 0;
padding: 0;
list-style: none;
overflow-x: hidden;
}
